.slidercontainer{
  width: 100%;
}
.slider {
  width: 50%;
  height: 25px;
  background:#D3D3D3;
  color: blue;
  outline: none;
}

.btn{
  text-align: center;
  vertical-align: middle;
  padding: .67em;
  cursor: pointer; 
}
.btnstyle{
  margin: .2em 15% 2em 15%;
  color:white;
  border:2px solid rgb(70, 70, 224) ;
  background-color: rgb(70, 70, 224);
  border-radius: 10%;
}
.btnstyle:hover{
  background-color:rgb(25, 25, 124);
}

html,body{
  display: grid;
  height: 100%;
  place-items: center;
 
}

h1{
    color: black;
}
.thecenter{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.button{
  height: 50px;
  width: 200px;
  border-radius: 30px;
}
.out{
  position: relative;
  margin: 0 50px;
  background: white;
}


.out button{
  background:rgb(70, 70, 224);
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
  z-index:8 ;
  letter-spacing: .5px;
  cursor: pointer;
}
.button button{
  height: 60px;
  width: 210px;
  border-radius: 50px;
}


.out button:hover{
color: rgb(25, 25, 124);
}